{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Palindromia</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script type="text/javascript" src="{% static 'js/index.js' %}"></script>
</head>

<body>
    <h2>Frase palíndroma</h2>
    <p>Ingrese una frase:</p>
    <textarea type="text" id="txtFrase" name="txtFrase" rows="4"></textarea>
    <button type="button" id="btnEnviar">¿Es palíndroma?</button>

    <p>La frase o palabra <strong id="txtVericacion">???</strong></p>
</body>

</html>